*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; s
  text-decoration: none;
  list-style: none;
  
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300   ;400;500;600;700;800&display=swap');

top {
  display: flex;
  background-color: #1b2023;
  height: 30px;
  color: white;  
}

.container-top {
  display: flex;
  background-color: #1b2023;
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;"
}

.icones {
  display: flex;
  color: #fff;
  width: 70px;
  justify-content: space-between;
}

header {
  display: flex;
  height: 100px;
  background-color: #010101;
  
}

.container-header {

  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  width: 600px;
  font-family: 'poppins';
  font-weight: 400;
  color: #ffffff;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.login { 
  padding: 10px 20px 10px 20px;
  background-color: hsl(208, 93%, 61%)	;
  color: #fff;
  border-radius: 4px;
  float: right;
}
.menu-img {
  display: block;
  width: 40px;
  font-size: 40px;
  color: #ffffff;
  
}

.slider {
  display: flex;
  background-image: url(../assets/bg-story.png);
  background-color: #1e1e1e;
  height: 600px;
}

.container-slider{
  display: flex;
  height: 550px;
  width: 1440px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
  
}

.container-titulo {
  max-width: 600px;
}

.container-slider h1 {
  font-size: 60px;
  color: #fff;
  animation: go-back 1s;
}

.subtitulo  {
  font-size: 18px;
  color: #7d7d7d;
  animation: go-back 1s;
  transition: 3s;
  
}

@keyframes go-back {
	from {
		transform: translateX(-100px);
    opacity: 0;
    
	}
	to {
		transform: translateX(0);
    
	}
}

/*  animacoes */

.saiba {
  display: block;
  margin-top: 15px;
  width: 40%;
  padding: 15px 25px;
  background: rgb(40, 42, 44);
  border: 0;
  border-radius: 5px;
  color:hsl(208, 93%, 61%)	;
  font: poppins;
  font-size: 16px;  
  transition: 0.5s;
  transform: translatex(0);
  animation: go-back 1s;
  
}

.saiba:hover  {
background: hsl(208, 93%, 61%);
color: #fff;
transform: translatey(-5px);
}

.imagem-gif {
  transition: 1s;
  animation: go-top 1s;
  transition: 3s;
 
  
}

@keyframes go-top {
	from {
		transform: translateX(100px);
    opacity: 0;
    
	}
	to {
		transform: translateX(0);
    
	}
}


/* section de icones  */

.logos {
  display: flex;
  width: 100%;
  background: #010101;
  padding: 30px 30px;
}

.lista-icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.lista-icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #737373;
  font-size: 12px;
}
.lista-icons span {
  margin-top: 10px;
}


@media screen and (max-width: 768px) {
   
 .menu-img  {
   font-size: 40px;
 }
 .nav {
   display: none;
 }

 .menu-hamburguer {
   display: block;
   
 }
 
 .login {
   margin-left: 30px;
   float: right;
 }

 .container-slider{ 
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 
 }

 
.container-slider h1 {
  font-size: 45px;
  color: #fff;
  padding-left: 10px;
  
}

.subtitulo  {
  font-size: 16px;
  color: #7d7d7d;
  padding-left: 10px;
  margin-top: 10px;
}

.saiba {
  margin-left: 10px;
  margin-top: 10px;
}
.imagem-gif {
  width: 90%;
  animation: go-top 1s;
  transition: 3s;
}


/* section de icones  */

.logos {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #010101;
  padding: 30px 30px;
}

.lista-icons {
  display: flex;
  
  flex-wrap: wrap;
  gap: 2rem 0;
  width: 100%;
  justify-content: space-evenly;
}

.lista-icons li {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  color: #737373;
  font-size: 12px;
}
.lista-icons span {
  margin-top: 10px;
}


}


.marquee {
--gap: 1rem;{3}
display: flex;
overflow: hidden;
user-select: none;
gap: var(--gap);
}

.marquee__content {
flex-shrink: 0;
display: flex;
justify-content: space-around;
min-width: 100%;
gap: var(--gap);
}

@keyframes scroll {
from {
transform: translateX(0);
}
to {
transform: translateX(calc(-100% - var(--gap)));
}
}