  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,500;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-decoration: none;
  list-style: none;
}

a{
  text-decoration: none;
  list-style: none;
}

top {
  display: flex;
  background-color: #1b2023;
  height: 30px;
  color: white;  
}

.container-top {
  display: flex;
  background-color: #1b2023;
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;
}

.icones {
  display: flex;
  color: #fff;
  width: 70px;
  justify-content: space-between;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #010101;
  
}

.container-header {

  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;
}

 .nav-menu {
  display: flex;
  width: 600px;
  font-family: 'poppins';
  font-weight: 400;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
} 
.nav-menu a {
  color: #ffffff;
}
/* 
.login { 
  padding: 8px 30px 8px 30px;
  
  color: #fff;
  border-radius: 5px;
  border: 2px solid hsl(208, 93%, 61%);
  float: right;
}
.login:hover {
  background-color: hsl(208, 93%, 61%);
  color: #fff;
  border-radius: 5px;
  border: 2px solid hsl(208, 93%, 61%);
  transition: 0.5s;
  
}

.menu-hamburguer {
  display: none;
  
} */

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  z-index: 999;
  background-color: #ffffff !important;
}
.menu-img {
  display: block;
  width: 40px;
  font-size: 40px;
  color: #ffffff;
  
}

.slider {
  display: flex;
  background-image: url(../assets/bg-story.png);
  background-color: #1e1e1e;
  height: 600px;
}

.container-slider{
  display: flex;
  height: 550px;
  width: 1440px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
  
}

.container-titulo {
  max-width: 600px;
}

.container-slider h1 {
  font-size: 60px;
  color: #fff;
  animation: go-back 1s;
}

.subtitulo  {
  font-size: 18px;
  color: #7d7d7d;
  animation: go-back 1s;
  transition: 3s;
  
}

@keyframes go-back {
	from {
		transform: translateX(-100px);
    opacity: 0;
    
	}
	to {
		transform: translateX(0);
    
	}
}

/*  animacoes */

.saiba {
  display: block;
  margin-top: 15px;
  width: 40%;
  padding: 15px 25px;
  background: rgb(40, 42, 44);
  border: 0;
  border-radius: 5px;
  color:hsl(208, 93%, 61%)	;
  font: poppins;
  font-size: 16px;  
  transition: 0.5s;
  transform: translatex(0);
  animation: go-back 1s;
  
}

.saiba:hover  {
background: hsl(208, 93%, 61%);
color: #fff;
transform: translatey(-5px);
}

.imagem-gif {
  transition: 1s;
  animation: go-top 1s;
  transition: 3s;
 
  
}

@keyframes go-top {
	from {
		transform: translateX(100px);
    opacity: 0;
    
	}
	to {
		transform: translateX(0);
    
	}
}


/* section de icones  */

.logos {
  display: flex;
  width: 100%;
  background: #010101;
  padding: 30px 30px;
}

.lista-icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.lista-icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #737373;
  font-size: 12px;
}
.lista-icons span {
  margin-top: 10px;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  background-color: #000000;
  transition: transform 0.3s ease;
  transform: translate(-100%, 0);
}

.panel.is-active {
  transform: translate(0, 0);
}

.panel-btn {
  
  z-index: 999;
  top: 7vh;
  right: 2vh;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  text-align: left;
  padding-top: 5rem;
}

.menu a {
  padding: 1.5rem;
  width: 100%;
  display: block;
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  font-family: 'poppins';
  transition: all 0.3s ease;
  border-bottom: 1px solid rgb(173,216,230, 0.2) ;

}

.menu a:hover {
  color: var(--second-color);
  background-color: hsl(208, 93%, 61%);;
}





@media screen and (max-width: 768px) {
   
 .menu-img  {
   font-size: 40px;
 }
  .nav-menu {
   display: none;
 }
/*
 .menu-hamburguer {
   display: block;
   
 }
 
 .login {
   margin-left: 30px;
   float: right;
 } */

 .container-slider{ 
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 
 }

 

 
.container-slider h1 {
  font-size: 45px;
  color: #fff;
  padding-left: 10px;
  
}

.subtitulo  {
  font-size: 16px;
  color: #7d7d7d;
  padding-left: 10px;
  margin-top: 10px;
}

.saiba {
  margin-left: 10px;
  margin-top: 10px;
}
.imagem-gif {
  width: 90%;
  animation: go-top 1s;
  transition: 3s;
}


/* section de icones  */

.logos {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #010101;
  padding: 30px 30px;
}

.lista-icons {
  display: flex;
  
  flex-wrap: wrap;
  gap: 2rem 0;
  width: 100%;
  justify-content: space-evenly;
}

.lista-icons li {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  color: #737373;
  font-size: 12px;
}
.lista-icons span {
  margin-top: 10px;
}



@keyframes scroll {
from {
transform: translateX(0);
}
to {
transform: translateX(calc(-100% - var(--gap)));
}
}