*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');



top {
  display: flex;
  background-color: #483D8B;
  height: 30px;
  color: white;  
}

.container-top {
  display: flex;
  background-color: #483D8B;
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;
}

.icones {
  display: flex;
  color: #fff;
  width: 70px;
  justify-content: space-between;
}

header {
  display: flex;
  height: 100px;
  background-color: #191970;
  
}

.container-header {

  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  width: 600px;
  padding-right: 10px;
  font-family: 'poppins';
  font-weight: 400;
  color: #ffffff;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  font-family: 'poppins';
  font-weight: 400;
  color: #ffffff;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

/* #menu {
  display:flex;
  width: 600px;
  padding-right: 10px;
  font-family: 'poppins';
  font-weight: 400;
  color: #ffffff;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.login { 
  padding: 10px 20px 10px 20px;
  background-color: #00FA9A	;
  color: #000000;
  border-radius: 4px;
  float: right;
}

.menu-img {
  display: block;
  width: 36px;
  font-size: 26px;
  color: #ffffff;
  
} */


@media screen and (max-width: 768px) {
  
 
 .menu-img  {
   font-size: 36px;
 }
 .menu-item {
   display: none;
 }
 
 .menu-hamburguer {
   display: block;
   
 }
 
 .login {
   margin-left: 30px;
   float: right;
 }
}
